<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>746066618752-55gc7m2me26321mh583qpr8ehalgm5eq.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.746066618752-55gc7m2me26321mh583qpr8ehalgm5eq</string>
		<key>API_KEY</key>
		<string>AIzaSyBkp_QxjWg4yv_iMNeQKxwHwnTQPomVX8A</string>
		<key>GCM_SENDER_ID</key>
		<string>746066618752</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.letsar.binder.firebaseLogin</string>
		<key>PROJECT_ID</key>
		<string>binder-login</string>
		<key>STORAGE_BUCKET</key>
		<string>binder-login.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:746066618752:ios:870a5c7da198fc59ad3965</string>
		<key>DATABASE_URL</key>
		<string>https://binder-login.firebaseio.com</string>
	</dict>
</plist>